*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root
{
    --color--green: #075E54;
    --color--green--surfie: #128C7E;
    --color--green--light:#25D366;
}

.container_main
{
    width: 100%;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: 300px 1fr;
}

.container_aside
{
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #181818;
    color: #fff;
    border-right: .5px solid #444;
}

.container_top_chats
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.container_title
{
    width: 100%;
    height: auto;
    margin: auto;
}

.logo_wsp
{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.container_title_icons
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container_input_search
{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px;
    position: relative;
}

.icon_search
{
    position: absolute;
    left: 20px;
    top: 24px;
}

.container_section_chats
{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
}

.section_chat
{
    font-size: 10px;
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 20px;
}

.active
{
    font-weight: 500;
    background-color: var(--color--green);
    border: 1px solid var(--color--green--surfie);
}

.container_archived
{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.archived_icon_text
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.number_archived
{
    font-size: 11px;
}

.input_search
{
    width: 100%;
    padding: 10px 10px 10px 30px;
    border-radius: 20px;
    border: none;
    background-color: #333;
    outline: none;
    border: 2px solid transparent;
}

.input_search:hover
{
    border: 2px solid gray;
}

.input_search:focus
{
    border: 2px solid var(--color--green--light);
    background-color: #111;
}

.container_chats
{
    width: 100%;
    height: auto;
    margin: auto;
    display: grid;
    gap: 5px;
    padding: 10px;
}

.chat
{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.container_title_placeholder_chat
{
    display: grid;
}

.placeholder_message
{
    color: gray;
    font-size: 12px;
}

.profile_user
{
    width: 40px;
    height: 40px;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.chat:hover
{
    background-color: #333;
}

.container_content_chat
{
    width: 100%;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: linear-gradient(rgba(5, 7, 12, .60), rgba(5, 7, 12, .60)) ,url("img/background-chats.jpg");
    background-position: center;
    background-size: contain;
}

.container_title_section
{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #181818;
}

.container_image_user_chat
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container_title_icons_top
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container_messages
{
    width: 100%;
    height: 510px;   
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 3px;
}

.message 
{
    width: fit-content;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 8px 12px;
    border-radius: 10px;
    background-color: var(--color--green);
    align-self: flex-end;
}

.received 
{
    width: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 12px;
    border-radius: 10px;
    background-color: #333;
    align-self: flex-start;
}

.container_send_message
{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
}

.text_name
{
    position: absolute;
    left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.input_send_message
{
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 30px;
    padding: 15px;
    border: none;
    outline: none;
    background-color: #333;
    color: #fff;
}

.icon_microphone
{
    position: absolute;
    right: 25px;
}

.link_contact
{
    padding: 0 5px;
    color: #fff;
    cursor: pointer;
}

.container_cv
{
    width: 100%;
    padding:0px 20px;
    text-align: center;
}

.link_cv
{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    background-color: var(--color--green--surfie);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: .3s ease-in-out;
}

.link_cv:hover
{
    background-color: var(--color--green);
}

.movil_section
{
    width: 100%;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}

@media screen and (max-width:768px)
{

.container_main
{
    display: none;
}

.movil_section
{
    display: flex;
}
    
}